services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env

  web:
    build: .
    # La commande de démarrage est maintenant gérée par le script build.sh
    # pour s'assurer que les migrations sont appliquées avant de lancer le serveur.
    command: sh /app/build.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000" # Expose le port 8000 du conteneur sur le port 8000 de l'hôte
    env_file:
      - ./.env
    depends_on:
      - db

volumes:
  postgres_data: